<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppSettings</key>
	<dict>
		<key>CaptureFreq</key>
		<integer>5000</integer>
		<key>ContactSupportButtonText</key>
		<string></string>
		<key>DownloadPage</key>
		<string>http:\/\/edx.remoteproctor.com/</string>
		<key>EnableInstructionPage</key>
		<string>YES</string>
		<key>EnablePasswordButton</key>
		<string>NO</string>
		<key>ErrorHostPage</key>
		<string>http:\/\/www.remoteproctor.com/rpinstall/Onlinehelp.aspx</string>
		<key>ExamUsername</key>
		<string>rpstudent</string>
		<key>FlashCheckURL</key>
		<string>http:\/\/www.remoteproctor.com/xclient/v4.4.4/cameracheck.html</string>
		<key>FlashRestartURL</key>
		<string>http:\/\/www.remoteproctor.com/xclient/v4.2.2/restart.html</string>
		<key>ForbidMirroredMonitors</key>
		<string>YES</string>
		<key>InsertPasswordButtonText</key>
		<string></string>
		<key>InsertUsername</key>
		<string>NO</string>
		<key>InstructionPageURL</key>
		<string>http:\/\/www.remoteproctor.com/rpinstallCEF/onetimeinstructions.aspx?orgName=edx</string>
		<key>InterviewHost</key>
		<string>www.remoteproctor.com</string>
		<key>IsChatButtonVisible</key>
		<string>YES</string>
		<key>IsCloseButtonVisible</key>
		<string>YES</string>
		<key>IsExin</key>
		<string>YES</string>
		<key>IsMicrophoneCheckEnabled</key>
		<string>YES</string>
		<key>IsReloadButtonVisible</key>
		<string>YES</string>
		<key>IsToolbarVisible</key>
		<string>YES</string>
		<key>JPEGCompressionFactor</key>
		<string>0.25</string>
		<key>MicrophoneCheckURL</key>
		<string>http:\/\/www.remoteproctor.com/rpinstallCEF/micCheck/index.html?volume=80</string>
		<key>NetThroughputD</key>
		<string>60</string>
		<key>NetThroughputN</key>
		<string>2</string>
		<key>NetThroughputUnits</key>
		<string>m</string>
		<key>OnCloseLaunchExamCodeFormat</key>
		<string>?exinExamCode=%@</string>
		<key>OnCloseLaunchPrefix</key>
		<string>http:\/\/info.psionline.com/edxupload</string>
		<key>OnCloseLaunchSuffix</key>
		<string>uploadtrue</string>
		<key>Organization</key>
		<string>edx</string>
		<key>PasswordHelpButtonText</key>
		<string></string>
		<key>PasswordHelpPage</key>
		<string>http:\/\/www.remoteproctor.com/rpinstall/helpvideo.htm?type=password</string>
		<key>PasswordWindowTitle</key>
		<string></string>
		<key>ResourceMonitoringSample</key>
		<string>30</string>
		<key>RunNetThroughput</key>
		<string>YES</string>
		<key>RunResourceMonitoring</key>
		<string>YES</string>
		<key>SpecialPasswordOption</key>
		<string>NO</string>
		<key>StartPage</key>
		<string>http:\/\/edx.remoteproctor.com/ExamTakerWebsiteCEF/examselection.aspx?orgName=edx</string>
		<key>UserAgentExtra</key>
		<string>RPNow</string>
		<key>VersionCheckURL</key>
		<string>http:\/\/ssi-builds.s3.amazonaws.com/software/rpnow/2.0.6.4/edx/20180629_193149/osx/MacVersion.txt</string>
	</dict>
	<key>BuildMachineOSBuild</key>
	<string>16G1314</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Remote Proctor Now</string>
	<key>CFBundleHelpBookFolder</key>
	<string>RemoteProctorHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>com.SoftwareSecure.RemoteProctor.help</string>
	<key>CFBundleIconFile</key>
	<string>Authenticate</string>
	<key>CFBundleIdentifier</key>
	<string>com.SoftwareSecure.Remote-Proctor-Now</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Remote Proctor Now</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.6.4</string>
	<key>CFBundleSignature</key>
	<string>ssim</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>61</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8E3004b</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16E185</string>
	<key>DTSDKName</key>
	<string>macosx10.12</string>
	<key>DTXcode</key>
	<string>0833</string>
	<key>DTXcodeBuild</key>
	<string>8E3004b</string>
	<key>HPBookAccessPath</key>
	<string>index.html</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.education</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.8</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2007 - 2016, Software Secure, Inc.
All rights reserved. 
Protected by U.S. Patent 7,069,586.
Other patents pending.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
